@font-face {
  font-family: 'Amatic';
  src: url('../fonts/amatic/Amatic-Bold.ttf');
}

body {
  /*background-image: url('../img/background1.jpg');*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  margin: 0;
  padding: 0 6em;
  font: 16px "Amatic";
  letter-spacing: .1em;
}
/*body:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: -10;
  opacity: 1;

}*/
body.background-loaded:after {
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

#load-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 100;
}

a {
  text-decoration: none;
  color: #000;
}

.title {
  color: rgb(45, 188, 190);
}
.ct-text {
  font-family: 'Helvetica Neue';
  font-size: 80%;
  padding-left: 1em;
}

                              /*  HEADER SECTION */
#header-container, .hd-up {
  background-color: rgba(255,255,255,0.92);
  padding: .4em;
  /*width: 90%;*/
  top: 1.5em;
  left: 6em;
  right: 6em !important;
  height: 6em;
  position: fixed;
  transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
}
#logo {
  float: left;
  margin: .4em 2em .4em 1.5em;
}
#logo img {
  width: 6.5em;
  transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
}
#title-container {
  margin: 1em 0 1em 11.9em;
  transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
}
#title-container * {
  margin: 0;
}
#header-title {
  transition: all .1s ease-in-out .1s;
  -moz-transition: all .1s ease-in-out .1s;
  -webkit-transition: all .1s ease-in-out .1s;
}
#sub-title {
  margin-top: .3em;
  font-size: 1.1em;
  font-family: Helvetica;
  font-weight: normal;
  font-style: italic;
  letter-spacing: .05em;
  transition: all .1s ease-in-out .1s;
  -moz-transition: all .1s ease-in-out .1s;
  -webkit-transition: all .1s ease-in-out .1s;
}

                            /* SIDE MENU SECTION */
#side-menu, .sm-up {
  position: fixed;
  background-color: rgba(255,255,255,0.92);
  top: 9.6em;
  width: 8em;
  margin: 0;
  padding: .7em 1.2em;
  transition: top .1s ease-in-out;
  -moz-transition: top .1s ease-in-out;
  -webkit-transition: top .1s ease-in-out;
}
#menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.6em;
}
#menu-list .menu-item {
  margin: .4em 0;
  border: 2px dashed rgba(45, 188, 190, 0);
  padding: .3em;
  padding-top: .1em;
  /*cursor: pointer;*/
}
#menu-list .menu-item:hover {
  border: 2px dashed rgba(45, 188, 190, 0.3);
}

#menu-list .active {
  border: 2px dashed rgba(45, 188, 190, 1);
}
                            /* MAIN CONTENT SECTION */


#content {
  background-color: rgba(255,255,255,0.92);
  padding: 3em;
}

.content-text {
  display: inline-block;
  vertical-align: top;


  width: 100%;
}

.content-text h1 {
  margin-top: 0;
}
.ct-text {
  letter-spacing: .02em;
}

#portrait img{
  float: right;
  width: 36%;
  padding: 1em;
}
